APP_ENV=local
APP_PORT=8080
API_SERVICE_NAME=realtime-event-api
AWS_REGION=ap-northeast-1
SQS_QUEUE_URL=https://sqs.ap-northeast-1.amazonaws.com/local/realtime-event-queue
EVENT_SERVICE_NAME=realtime-event-lambda
DYNAMODB_TABLE_NAME=realtime-event-table
APPSYNC_ENDPOINT=https://localhost/graphql
COGNITO_USER_POOL_ID=ap-northeast-1_xxxxxxxxx
